{% if site.owner.disqus-shortname %}
<script type="text/javascript">
    /* Configuration Variables*/
    var disqus_shortname = '{{ site.owner.disqus-shortname }}'; // required: replace example with your forum shortname
    
    // Trying an onclick load:
    $(document).ready(function() {
        $('#show-comments').on('click', function(){   //'.show-comments, changed to #show-comments'
              // ajax request to load the disqus javascript
              $.ajax({
                      type: "GET",
                      url: "https://" + disqus_shortname + ".disqus.com/embed.js", 
                      dataType: "script",
                      cache: true
              });
              //Hide the button once comments load
              $(this).fadeOut();
        });
    });

</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
