{% if site.owner.disqus-shortname %}

<script type="text/javascript">
    /* Configuration Variables*/
    var disqus_shortname = '{{ site.owner.disqus-shortname }}'; // required: replace example with your forum shortname
    
    //Replace jQuery, avoids CORS issues:
    //https://www.robertwent.com/blog/loading-disqus-comments-on-demand-without-jquery-or-ajax/
    //https://www.labnol.org/internet/load-disqus-comments-on-click/28653/
    var disqus_loaded = false;
    function disqus() {
        if (!disqus_loaded)  {
            disqus_loaded = true;
            var e = document.createElement("script");
            e.type = "text/javascript";
            e.async = true;
            e.src = "https://" + disqus_shortname + ".disqus.com/embed.js";
            (document.getElementsByTagName("head")[0] ||
            document.getElementsByTagName("body")[0])
            .appendChild(e);
            //Hide the button after opening
            document.getElementById("show-comments").style.display = "none";
        }
    }
    
</script>
{% endif %}
