
{% if site.owner.google.analytics %}
<!-- New Google Analytics Snippet -->
<!--https://developers.google.com/analytics/devguides/collection/analyticsjs/-->
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', '{{ site.owner.google.analytics }}', 'auto');
ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->

{% endif %}
{% if page.comments %}
  {% include _disqus_comments.html %}
{% endif %}
