
{% if site.owner.google.analytics %}
<!-- Manual Analytics Snippet -->
<!-- https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters-->
<script>
function sendData() {
    var ls = [];
    var tid = '{{ site.owner.google.analytics }}';  //Analytics ID
    var cid = Math.floor(100+Math.random()*900);
    var fields = ['v', 'tid', 'cid', 't', 'aip', 'dl', 'dt'];  //'uip',
    var values = [1, tid, cid, 'pageview', 1, window.location.href, document.title]; //'0.0.0.0',
    for (var i = 0; i<fields.length; i++) {
        ls.push(String(fields[i]) + '=' + encodeURIComponent(String(values[i])));
    }
    var data = ls.join('&');
    var request = new XMLHttpRequest();
    request.open("POST", "https://www.google-analytics.com/collect", true);
    request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    request.send(data);
}
sendData();
</script>

{% endif %}


{% if page.comments %}
  {% include _disqus_comments.html %}
{% endif %}
