<div class="basicnav">
	<div class="navwrapper">
		<nav>
			<!--letter-spacing:-0.02em;-->
			<a href="{{ site.url }}"> <span style="font-size:23px;letter-spacing:-0.03em;"><strong>PST</strong>BLOG</a></span> &ensp;
			<span style="float:right; line-height:31px" >
				<a class="underline" href="{{ site.url }}/about/">about</a> &ensp;
				<a class="underline" href="{{ site.url }}/vis/">vis</a> &ensp;
				<a class="underline" href="{{ site.url }}/blog/">blog</a>
			</span>
	    </nav>
    </div><!--end wrapper -->
</div> <!--end basicnav -->
